//for wide screens:



@media only screen and (orientation: portrait) {

  .letters-desktop {
    display: none;
  }


  .letters-mobile {
    display: block;
  }

  .landing {
    font-size: 5vh; //for portrait
  }

  ul {
    position: relative;
    font-size: 4vh;
    li:last-child {
      width: 100%;
      float: left;
      text-align: left;
    }
  }

  .option-button:last-of-type {
    padding: 0;
    margin: 0;
  }

  .instruction {
    width: 100%;
    font-size: 3vh;
    padding: 13% 1% 0;
    text-align: left;
    float: left;
  }

  .letters-all {
    font-size: 20vh;
  }

  /* get to know me*/

  .know-me-more {
    width: 100%;
  }

  .portrait {
    height: 80%;
    bottom: 0;
    opacity: .8;
  }

  .sample {
    width: 100%;
    opacity: 0.95;
    right: 0;
    @include vertical-align();

  }

  .edu,
  .skills,
  .experience,
  .git,
  .contact{
    font-family: $font-light;
    font-size: 4vh;
    width: 100%;
    height: 100%;
    left: 1%;
    @include vertical-align();
    opacity: 1;
    display: none;
  }

  h2,
  dt {
    font-family: $font-bold;
  }
  .know-me-more span {
    font-family: $font-serif;
    font-size: 150%;
  }



}

