@import "fonts";
@import "variables";
@import "functions";
@import "mixins";

* {
  font-family: $font-light;
  box-sizing: border-box;
}

/* columns */

[class*="col-"] {
  float: left;
  min-height: 1px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: col-width($i);
  }
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* content */









.main-container {
  position: relative
}

/* buttons */


ul {
  position: absolute;
  padding-top: 3%;
  width: 100%;
  font-size: 30px;
  z-index: 1;
  li {
    display: inline-block;
    padding: 0 1%;

  }
}

.game:hover {
  text-decoration: underline;
}

.active {
  color: hotpink;
}


/* name */

.letters-all {
  font-size: 160px; //TODO change to 200 later
  margin: 0 auto;
  text-align: center;
  @include vertical-align();
}


.letter {
  display: inline-block;
  width: auto;
}

.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}




.turn {
  animation-name: turn;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scale {

  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);

  }
}

.three-d {
  animation-name: three-d;
  animation-duration: .5s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes three-d {
  0% {
    text-shadow: 0 0 white;
  }
  100% {
    text-shadow: 5px 0 0 red, -3px 0 0 aquamarine, -5px 0 0 turquoise;
  }
}

