@import "fonts";
@import "variables";
@import "functions";
@import "mixins";

html, body {
  height:100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* columns */

[class*="col-"] {
  float: left;
  min-height: 1px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: col-width($i);
  }
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* content */


/* landing */

.landing {
  font-family: $font-serif;
  font-size: 4.7vw; //for landscape
  height: 100%;
}

.text span {
  text-decoration: underline;
}

.main-container {
  position: relative;
  font-family: $font-light;
  height: 100%;
}

/* buttons */

.buttons {
  display: none;
}

ul {
  position: absolute;
  padding-top: .2%;
  width: 100%;
  font-size: 2.3vw;
  z-index: 2;
  li {
    display: inline-block;
    padding: 1.5% 1%;
    cursor: default;
    font-family: $font-main;
    &:last-child {
      float: right;
      text-align: right;
    }
  }
}


.option-button:hover {
  text-decoration: underline;
}

.instruction {
  font-size: 1.5vw;
  padding: 7% 1% 0;
  width: 100%;
  text-align: right;
  position: absolute;
  display: none;
}

.active {
  background-color: $myMainPink;
}


/* name */


.letters-all {
  font-size: 12vw;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  font-family: $font-serif;
  display: none;
}
.letter {
  display: inline-block;
  width: auto;
  cursor: default;
}


.letters-desktop {
  @include vertical-align();
  //display: none;
}


.letters-mobile {
  @include vertical-align();
  display: none;
}

.transparent {
  opacity: .15;
}

/* animations */


.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.turn {
  animation-name: turn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scale {

  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);

  }
}

.three-d {
  animation-name: three-d;
  animation-duration: .5s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes three-d {
  0% {
    text-shadow: 0 0 white;
  }
  100% {
    text-shadow: 5px 0 0 red, -3px 0 0 aquamarine, -5px 0 0 turquoise;
  }
}

.no-animation {
  animation: none;
}

.shine {
  color: white;
  animation-name: shine;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes shine {
  from {
    text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 60px $myPink, 0 0 100px $myPink, 0 0 120px $myPink, 0 0 150px $myPink, 0 0 180px $myPink;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 30px $myPink, 0 0 40px $myPink, 0 0 50px $myPink, 0 0 60px $myPink, 0 0 75px $myPink;
  }
}

.pop {
  animation-name: pop;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  49% {
    transform: scale(4);
    color: black;
  }
  50% {
    color: white;
  }
  99% {
    color: white;
  }
  100% {
    color: black;
  }
}


/* get to know me*/

.portrait {
  position: absolute;
  top: 13%;
  height: 41%;
  left: 9%;
  opacity: .6;
  display: none;
}

.edu {
  font-family: $font-light;
  font-size: 2vw;
  position: absolute;
  opacity: .7;
  display: none;
  bottom: 10%;
  left: 20%;
}

.skills {
  @extend .edu;
  bottom: 60%;
  left: 30%;

}

.experience {
  @extend .edu;
  bottom: 15%;
  left: 40%;
}

.git {
  @extend .edu;
  bottom: 65%;
  left:60%;
}

.git-mobile {
  @extend .git;
  span {
    font-family: $font-light;
    font-size: inherit;
    text-decoration: underline;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: underline;
    color: black;
  }
}

.sample {
  width: 65%;
  position: absolute;
  bottom: 20%;
  right: 15%;
  opacity: .7;
  display: none;
}

.bhagaskara {
  right: 5%;
  bottom: 10%;
}

.contact {
  @extend .edu;
  left: auto;
  right: 5%;
  bottom: 20%;
  text-align: right;
}

.contact-mobile {
  @extend .contact;
  text-align: left;
}

h2,
dt {
  font-family: $font-bold;
}
.know-me-more span {
  font-family: $font-serif;
  font-size: 150%;
}

@import "media-queries";



